[Unit]
Description=Citadel Reference Monitor
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
CPUSchedulingPolicy=fifo
CPUSchedulingPriority=20
Nice=-10
Restart=always
RestartSec=1
User=root
ExecStart=/opt/citadel/start_citadel.sh /opt/citadel/citadel.basic.signed.so

[Install]
WantedBy=multi-user.target
